@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);




div {
    border: 1px solid red;
}

section{
    border: 1px solid olive;
}

.page{
    background-color: black;
    color: white;
         max-width: 100%;
     font-family: "Inter", "Arial", sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     box-sizing: border-box;
}


.header {
    max-width: 880px;
    border-bottom: 1px solid #545454;
    padding: 45px 0 0 0;
    min-height: 74px;
    display: flex;
    margin: auto;

}
.profile{
    max-width: 880px;
    display: flex;
    margin: auto;
padding: 40px 0 50px;
}
.profile__text{
    margin: auto 0 auto 30px ;
}
.profile__title{
    display: flex;
    align-content: flex-end;
}
.profile__name{
    text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 540px;
font-weight: 500;
font-size: 42px;
line-height: 1.14;
margin: 0;
padding: 0;
vertical-align: bottom;  

}

.profile__edit-btn{
    background-color: black;
    background-image: url(../images/edit-pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    align-self: flex-end;
    cursor: pointer;
    margin: 0 0 8px 18px;

}
.profile__edit-btn:active{
border: none;
}

.profile__about{
    text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 540px;
font-weight: 400;
font-size: 18px;
line-height: 100%;
margin: 0;
padding: 0;
}
.profile__add-btn{
    background-color: black;
     font-size: 50px;
    line-height: 1;
    font-weight: 300;
    color: white;
    border: 2px solid white;
    width: 150px;
    height: 50px;
    /* align-self: flex-end; */
    cursor: pointer;
    margin: auto 0 auto auto;
      display: flex;
  align-items: center;
  justify-content: center;
  
}

.cards{
    max-width: 880px;
    margin: auto;
    display: grid;
    grid-template-columns: 282px 282px 282px;
    grid-template-rows: 361px 361px;
    gap: 20px 17px;
}
.card{
    background-color: white;
    border-radius: 10px;
}

 .card__content {
 
  display: flex;
  justify-content: space-between;
  margin: 25px auto 0;
  max-width: 240px;
  
}
.card__title{
     
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: black;
margin: 0;
padding: 0;
/* display: flex;
align-items: center; */
/* justify-items: space-between; */
}
.card__like-btn{
    background-image: url(../images/like.svg);
    width: 22px;
    height: 19px;
    border: none;
    background-color: white;
    display: flex;
    margin-left: auto;
    cursor: pointer;
    align-self: center;
    
}

.card__like-btn:active{
    opacity: 100%;
    background-image: url(../images/like-active.svg);
}

.btn-opacity-change{
    transition: opacity 0.3s linear 0s;
}
.btn-opacity-change:hover{
opacity: 60%;
}
.btn-opacity-change:focus{
    outline: none;
}




.footer{
    max-width: 880px;
    margin: auto;
}
.footer__text{
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #545454;
margin: 0;
padding: 66px 0 60px 0;
}
.popup{
    color: black;
    display: none;

}
.popup_opened {
    display: flex;
}
.popup__background{
   position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
background-color: black;
opacity: 50%;

}
.popup__container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
    /* transform: translateY(-50%); */
    /* right: 0;
    bottom: 0; */
    background-color: white;
    min-width: 430px;
    min-height: 330px;
    border-radius: 10px;
    box-sizing: border-box;
padding: 34px 36px 37px 36px;
display: flex;
flex-direction: column;
justify-content: space-between;
   

}
.popup__title{
font-weight: 900;
font-size: 24px;
line-height: 29px;
margin: 0;
padding: 0;
}

.popup__close-btn{
color: white;
font-size: 80px;
font-weight: 300;
position: absolute;
right: -65px;
top: -70px;
border: none;
background-color: transparent;
transform: rotate(45deg);
cursor: pointer;
}

.popup__close-btn:focus{
    outline: none;
}

.popup__submit-btn{
    background-color: black;
    color: white;
    font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
    border: none;
    min-width: 358px;
    min-height: 50px;
    border-radius: 2px;
    cursor: pointer;
    
}
.black-btn-style{
transition: opacity 0.3s linear 0s;
}
.black-btn-style:hover{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
opacity: 85%;
}
.black-btn-style:focus{
    outline: none;
}

.form{
  
}
.form__input{
max-width: 358px;
  margin: auto;
  padding: 0 0 48px;
  border: 0;
  display: flex;
  flex-direction: column;
}
.form__item{
      /* white-space: nowrap;
  overflow: hidden; */
  border: 0;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  margin-top: 30px;
 font-weight: 400;
font-size: 14px;
line-height: 17px;
color: black;
padding-bottom: 13px;
}

.form__item::-webkit-input-placeholder {
    color:black;
}
.form__item::-moz-placeholder          {
    color:black;
}/* Firefox 19+ */
.form__item:-moz-placeholder           {
    color:black;
}/* Firefox 18- */
.form__item:-ms-input-placeholder      {
    color:black;
}



.form__item:focus {
  outline-color:  #bcbcc4
}


